
<div class="show-places">
  <h3>
   גברים
  </h3>
  <span *ngFor="let table of tablesWithGuests">
    <span *ngIf="table.male==1">
      <h5>{{table.title}}</h5>
      <span *ngFor="let guest of table.guestsFullName">
       <h6>{{guest}}</h6>
      </span>
  </span>
  </span>
</div>
<div>
  <h3>
   נשים
  </h3>
  <span *ngFor="let table of tablesWithGuests">
      <span *ngIf="table.male==0">
        <h5>{{table.title}}</h5>
        <span *ngFor="let guest of table.guestsFullName">
         <h6>{{guest}}</h6>
        </span>
    </span>
    </span>
</div>
