
.container{
    display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 20fr 100fr 40fr;
    grid-template-areas: 
      ". . . "
	  ". invitation . "
	  ". confirm ."
	  
}
.invitation{
  grid-area: invitation;
}
.confirm{
    grid-area: confirm;
}