<!-- -->
<br/><br/><br/><br/>
<div class="tab-view-div aa">
 <p-tabView  class="tab-view-class">
  <p-tabPanel header="פרטי אירוע" > <app-event-details></app-event-details> </p-tabPanel>
  <p-tabPanel   header="מוזמנים"> <app-guests></app-guests> </p-tabPanel>
  <p-tabPanel  header="סידור שולחנות" >  <app-seats></app-seats>  </p-tabPanel>
  <p-tabPanel  header="מראה מקומות" > <app-shows-places></app-shows-places> </p-tabPanel>
  <p-tabPanel  header="דף אישור הגעה" > <app-guest-page></app-guest-page> </p-tabPanel>
</p-tabView> 
</div>
<!-- <div >
  <p-tabMenu [model]="items" > </p-tabMenu> 
</div> -->



